@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* CABEÇALHO */
@media (min-width: 1200px){
body{
    font-family: "Merriweather", serif;
    background-color: beige;
}
}
.logo{
    width: 100px;
}
.cabeca{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: auto;
    padding: 0 50px;
    height: 90px;
}
h1{
    color: whitesmoke;
    /* font-size: 100px; */
}

/*essa parte estiliza a parte de dentro do modal*/
.modal-content {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 10% auto;
    padding: 30px;
    position: relative;
  }
  
  /*estiliza as letras e as cores*/
  .modal-header {
    text-align: center;
    font-size: 24px;
    color: #2ecc71;
    margin-bottom: 20px;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
  }
  



.canto{
    margin-right: 85px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/* parte de dentro */
.dropdown-menu{
    background-color: #b7b7b7da;
}

.nav-item {
    list-style: none;

}

.nav-item{
    color: aliceblue;
}

/* CORPO */

/* imagem */
.cerrado{
    width: 100%;
    margin-top: 30px;
}
/* escrita */
.oque {
    color: black;
    text-align: center;
    margin-top: 35px;
    font-weight: bolder;
}

.paragrafo{ 
    text-align: center;
    width: 1000px;
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
}

.imagem{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../HTML/imagem\ bioma\ cerrado\ brasil.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titulo{
    text-align: center;
        font-family: "Merriweather", serif;
        font-weight: 900;
        font-style: normal; 
        font-size: 60px;
}

.texto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
}


.cerrado{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.corpo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 600;
    font-size: 20px;
}


.mapa{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(11, 11, 1, 0.5)),url(../HTML/mapa\ do\ brasil.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container{
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
    margin-bottom: 150px;
}
.Localizacao{
    width: 50%;
    height: 80px;

}

.text{
    margin-top: 100px;
    text-align: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    justify-content: center;
    
}

.clima {
    display: flex;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(11, 11, 1, 0.5)), url(../img/imagem\ de\ clima\ cerado.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width:600px) {

    .cabeca,
    .canto {
        flex-direction: column;
        margin: 0;
    }

    .texto,
    .titulo {
        font-size: 16px;
    }
}


.especie{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(11, 11, 1, 0.5)),     url(../img/especie1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 65vh;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.flex {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    column-gap: 50px;
    align-items: center;
    justify-content: center;
}
/*ampliando a imagem*/
.mouse {
    width: 300px;
    height: 265px;
    transition: transform .5s ease;
    border: 5px solid #0e4120;

  }

  /* Aplicando rotação de 45 graus ao quadrado */
  .mouse:hover {
    /* transform: rotate(90deg); */
    transform: scale(1.1);
    
  }

  

.contatos{
    display: flex;
    justify-content: space-between;
    color: azure;
    
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: auto;
    padding: 0 20px;
}

.contatos p{
    color: azure;
    margin-right: 15px;
}
footer ul li{
    justify-content: space-between;
    font-size: 10px;
}
footer .roda img{
    width: 150px;
    height: 150px;
    margin-right: 700px;
}


